.container {
  max-width: 1200px;
  padding: 0 15px;
}

.title-forum {
  color: var(--owner-purple);
  text-align: center;
}

.hidden {
  display: none;
}

.flexWrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 135px;
}

.postUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin-left: 300px;
  gap: 25px;
  border: 2px solid var(--owner-purple);
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.336);
  height: 700px;
  overflow: scroll;
}

.tableForum {
  border-collapse: collapse;
  background-color: #b48aea50;
  width: 100%;
  overflow: hidden;
}

.tdUser {
  border-bottom: 1px solid gray;
}

.imageTable {
  width: 35px;
  border-radius: 25px;
}

.publish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 300px;
  padding: 0.5rem;
  width: 1000px;
  height: 50px;
  background-color: white;
  border-radius: 12.5px;
  border: 2px solid gray;
}

.buttonPublish {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 100px;
  height: 32.5px;
}

.buttonPublish:hover {
  background-color: var(--owner-purple);
  color: white;
  transform: scale(1.02);
  transition: 0.5s;
}

.discussions h2 {
  color: black;
}

.publish span {
  color: gray;
}

.discussions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 300px;
  height: 400px;
  top: 240px;
  left: 1520px;
  border-radius: 45px;
  background-color: #b48aea68;
}

.imgDiscussion {
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.discussionsFlex {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.filaTable {
  border-radius: 11px;
  
}
.filaTable:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
.postBody {
  background-color: var(--owner-purple);
  height: 85px;
  overflow: auto;
  word-wrap: break-word;
  border-radius: 0px 0px 25px 25px;
}

.postAnswers {
  background-color: var(--owner-purple);
  width:700px;
  overflow: auto;
  word-wrap: break-word;
  border-radius: 0px 25px 25px 0px;
}

.postHeader {
  display: flex;
  width: 100%;
  border-radius: inherit;
}

.imageUserPost {
  width: 65px;
  border-radius: 25px;
}

.postUserImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #d3d3d3;
  width: 200px;
  padding: 10px;
  border-radius: 25px 0px 0px 0px;
}

.postUserImageResponses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #d3d3d3;
  width: 200px;
  padding: 10px;
  border-radius: 25px 0px 0px 25px;
}

.eachPost {
  width: 900px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.titlePost {
  color: black;
}

.boxTitle {
  padding: 25px;
  background-color: white;
  width: 100%;
  border-radius: 0px 25px 0px 0px;
}

.tableWrapper {
  position: relative;

}

.tableScroll {
  overflow: auto;
  height: 500px;
  border-radius: 11px;
}

.tableWrapper table thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #472e7c;
  height: 50px;
  border-radius: 11px;
}

.tableWrapper table tfoot tr {
  position: sticky;
  top: 0;
  z-index: 2;
}

.tableRankings {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 5px;
  width: 200px;
  height: 400px;
  top: 150px;
  left: 1590px;
  border-radius: 45px;
  background-color: var(--owner-purple);
}

.tableRankings h2 {
  color: black;
}

.inputPost{
  display: none;
  border: none;
  height: 100%;
  width: 100%;
}


.divPublishPost{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89.5%;
  height: 100%;
}

.allPost{
  display: flex;
  gap: 1px;
}
