.container {
    display: grid;
    grid-template-areas: 
        "sidebar navbar"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: minmax(var(--sidebar-width), auto) 1fr;
    grid-template-rows: var(--navbar-height) 1fr var(--footer-height); 
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-area: sidebar;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    grid-area: navbar;
}

.main {
    grid-area: main;
    padding: var(--spacing-3);
}

.footer {
    grid-area: footer;
}